.parent-div
{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 16px;
    padding-right: 16px;
    overflow: auto;
    height: 200px;
}
.fake-text-area
{
    width: auto;
    outline: none;
    height: 155px;

}
.font-size-16
{
    font-size: 16px !important;
}
.input-box
{
    height: 32px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=file] {
    cursor: pointer;
    width: 117px;
    height: 34px;
    overflow: hidden;
    outline: none;
  }
  input[type=file]:focus
  {
      outline: none;
  }
  input[type=file]:before {
    outline: none;
    width: 116px;
    height: 32px;
    font-size: 10px;
    line-height: 32px;
    content: 'Drop Image Here';
    display: inline-block;
    background: white;
    border: 1px solid #000;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
  }
  .image-section-upload
  {
      display: inline-flex;
  }
  .btn-group, .btn-group-vertical
  {
      display: block !important;
  }
  @media screen and (max-width: 700px) {
    .image-section-upload
    {
        display: inline-block;
    }
}